# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Node
node_modules/
.vite/
dist/
*.local

# Env / secrets
.env
.env.local
backend/fastapi_app/db.sqlite3
backend/fastapi_app/db.sqlite3-journal

# OS
.DS_Store

# Docker
.docker/
